.page {
  width: 120vw;
  height: 189.5vw;
}
.page .wrapperInner {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  background-color: #ffffff;
  height: 189.5vw;
}
.page .group {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  flex-direction: row;
  background-color: #f9f9f9;
  width: 120vw;
  height: 145.31vw;
  overflow: hidden;
}
.page .banner {
  position: absolute;
  top: 4.31vw;
  right: 0;
  width: 87.06vw;
  height: 70vw;
  overflow: hidden;
}
.page .cover {
  position: absolute;
  top: 3.56vw;
  right: 0;
  width: 87.81vw;
  height: 69.81vw;
  overflow: hidden;
}
.page .primary {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  margin-top: 16.81vw;
}
.page .layer {
  position: relative;
  width: 120vw;
  height: 165.13vw;
  overflow: hidden;
}
.page .horizontalLine {
  position: absolute;
  top: 84.56vw;
  right: 51.44vw;
  width: 1.5vw;
  height: 0.06vw;
  overflow: hidden;
}
.page .tag {
  position: absolute;
  top: 84.06vw;
  right: 46.69vw;
  text-align: left;
  text-decoration: none;
  line-height: 1vw;
  letter-spacing: 0;
  white-space: nowrap;
  color: #666666;
  font-size: 1vw;
}
.page .title {
  position: absolute;
  top: 86.44vw;
  right: 44.13vw;
  text-align: left;
  text-decoration: none;
  line-height: 2.25vw;
  letter-spacing: 0;
  white-space: nowrap;
  color: #01237c;
  font-size: 2.25vw;
}
.page .article {
  webkit-box-orient: vertical;
  display: -webkit-inline-box;
  webkit-line-clamp: 4;
  position: absolute;
  top: 91.63vw;
  right: 26.38vw;
  width: 26.75vw;
  height: 6.38vw;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 1.63vw;
  letter-spacing: 0;
  color: #666666;
  font-size: 1vw;
}
.page .iconDownWrapper {
  display: flex;
  position: absolute;
  top: 118.06vw;
  right: 46.56vw;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 2vw;
  background-color: #ffffff;
  box-shadow: 0 0.69vw 1.31vw
    rgba(203.76265257597, 203.76265257597, 223.000001907349, 0.5);
  width: 4vw;
  height: 4vw;
  overflow: hidden;
}
.page .iconDown {
  width: 0.88vw;
  height: 1vw;
}
.page .view {
  display: flex;
  position: absolute;
  top: 75.38vw;
  left: 17.38vw;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.page .banner1 {
  position: relative;
  width: 41.75vw;
  height: 47.5vw;
}
.page .iconCircle {
  position: absolute;
  top: 6.31vw;
  left: 6.06vw;
  width: 2.88vw;
  height: 2.88vw;
  overflow: hidden;
}
.page .iconMenu {
  position: absolute;
  top: 14.5vw;
  right: 5vw;
  width: 1.5vw;
  height: 1.5vw;
}
.page .iconCircle1 {
  position: absolute;
  right: 4vw;
  bottom: 2.81vw;
  width: 1.56vw;
  height: 1.56vw;
  overflow: hidden;
}
.page .iconDown1 {
  position: absolute;
  right: 3.44vw;
  bottom: 3.56vw;
  width: 2.69vw;
  height: 0.06vw;
  overflow: hidden;
}
.page .dot {
  position: absolute;
  right: 3.44vw;
  bottom: 3.38vw;
  width: 0.31vw;
  height: 0.06vw;
  overflow: hidden;
}
.page .iconCircleWrapper {
  display: flex;
  position: absolute;
  top: 98vw;
  left: 6.63vw;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 2.88vw;
  height: 2.88vw;
}
.page .iconCircle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.88vw;
  height: 2.88vw;
  overflow: hidden;
}
.page .iconCircle3 {
  position: relative;
  margin-top: 0.06vw;
  width: 1.56vw;
  height: 1.56vw;
  overflow: hidden;
}
.page .iconCircle4 {
  position: absolute;
  top: 98.06vw;
  right: 56.88vw;
  width: 2.19vw;
  height: 2.19vw;
  overflow: hidden;
}
.page .largeIcon {
  position: absolute;
  top: 98.81vw;
  left: 0;
  width: 4vw;
  height: 1vw;
}
.page .iconPiece {
  position: absolute;
  top: 125.5vw;
  left: 20.81vw;
  width: 1.38vw;
  height: 1.38vw;
}
